@using static HelloDocAdmin.Entity.ViewModels.AdminSite.Constant;
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var enumData = from AdminStatus e in Enum.GetValues(typeof(AdminStatus))
                   select new
                   {
                       ID = (int)e,
                       Name = e.ToString()
                   };
}
@model List<HelloDocAdmin.Entity.ViewModels.AdminSite.Physicians>

<div class="container">
    <div class="card bg-transparent border-0">

        <div class="card-header  border-0  bg-transparent p-1  mt-3 mb-2">
            <div class="d-flex  justify-content-between">
            <div class="text-start d-flex align-items-center">
                <h5 class="mt-2"><b> MDs On Call</b></h5>

            </div>
            <div class="text-end">
                <a asp-controller="Physician" asp-action="Scheduling"
                   class="btn btn-outline-info btn-back">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                    </svg>Back
                </a>
            </div>
            </div>

            <div class="d-flex mt-4 justify-content-between">
                <div class="dropdown text-start ">

                    <select class="input-outline input-outline-select " onchange="filterByRegion()" name="region" data-allow-clear="true" tabindex="-1" id="Region" asp-items="@(new SelectList(ViewBag.RegionComboBox,"RegionId","RegionName"))" data-control="select2" data-placeholder="Select Level">
                        <option value="0">All Region</option>
                    </select>
                </div>
                <div class="text-end d-flex">
                    <a class="btn mx-2  btn-info text-white" asp-action="Scheduling" asp-controller="Physician">
                        <span class="addnewlg">
                            Calander View
                        </span>
                        <span class="addnewsm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                            </svg>
                        </span>
                    </a>
                    <a class="btn btn-info text-white" asp-action="RequestedShift" asp-controller="Physician">
                        <span class="addnewlg">
                            Shift for review
                        </span>
                        <span class="addnewsm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body  rounded shadow">
           
                <div class="p-3 ">
                    <h5 class="fw-bold">MD's On Call</h5>
                    <div class="container-fluid">
                        <div class="row my-4">
                            @foreach (var item in Model)
                            {
                                @if (item.onCallStatus == 1)
                                {
                                <div class="col-md-4 mt-3 physician-card" data-region-id="@item.Regionid">
                                        <img src="/Upload/Physician/@item.Physicianid/@item.Photo" style="height: 50px;">
                                        <span> @item.Firstname @item.Lastname</span>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
                <div class="p-3 ">
                    <h5 class="fw-bold">Physicians off Duty</h5>
                    <div class="container-fluid">
                        <div class="row my-4">
                            @foreach (var item in Model)
                            {
                                @if (item.onCallStatus == 0)
                                {
                                <div class="col-md-4 mt-3 physician-card" data-region-id="@item.Regionid">
                                        <img src="/Upload/Physician/@item.Physicianid/@item.Photo" style="height: 50px;">
                                        @item.Firstname @item.Lastname
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
          
        </div>
            
        </div>
    </div>


<script>
    function filterByRegion() {
        var selectedRegionId = $("#Region").val(); // Get the selected region ID
        $(".physician-card").hide(); // Hide all physician cards
        console.log(selectedRegionId);
        if (selectedRegionId === "0") {
            $(".physician-card").show(); // Show all physician cards if "All Regions" is selected
        } else {
            $(".physician-card[data-region-id='" + selectedRegionId + "']").show(); // Show physician cards for the selected region
        }
    }
    </script>