@using HelloDocAdmin.Entity.ViewModels.AdminSite;
@using static HelloDocAdmin.Entity.ViewModels.AdminSite.Constant;
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var enumData = from AdminStatus e in Enum.GetValues(typeof(AdminStatus))
                   select new
                   {
                       ID = (int)e,
                       Name = e.ToString()
                   };

}
@model ViewAdminProfileModel;
<script>
    $(document).ready(function () {
        $(".admin-input").prop("disabled", true);

        $(".form-check-input").prop("disabled", true);
        $("#save").css("display", "none");
        $("#cancel").css("display", "none");
        $('#cancel').click(function () {
            $("#save").css("display", "none");
            $("#cancel").css("display", "none");
            $(".admin-input").prop("disabled", true);
            $(".admin-input").prop("disabled", false);
            $("#edit").css("display", "");
        });
    });

    $(document).ready(function () {
        $(".mail-billing-imp").prop("disabled", true);

       
        $("#save1").css("display", "none");
        $("#cancel1").css("display", "none");
        $('#cancel1').click(function () {
            $("#save1").css("display", "none");
            $("#cancel1").css("display", "none");
            $("mail-billing-imp").prop("disabled", true);
      
            $("#edit1").css("display", "");
        });
    });

</script>



<div class="container ">
    
    
    <div class="card bg-transparent border-0">
        <div class="card-header d-flex justify-content-between  border-0  bg-transparent p-1  mt-3 mb-2">
            <div class="text-start d-flex align-items-center">
                <h5 class="mt-2"><b> My Profile</b></h5>

            </div>
            <div class="text-end">
                <a asp-controller="Dashboard" asp-action="Index"
                   class="btn btn-outline-info btn-back">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                    </svg></i>Back
                </a>
            </div>
        </div>

        <div class="card-body rounded shadow">
            <div class="mt-4">
                <h6> <b>Account Information</b></h6>
            </div>
            <form asp-action="ResetPassAdmin" asp-controller="MyProfile">
            <div class="row">
                
                    <div class="col-md-6 mt-2">
                        <div class=" mb-2">
                            <div class="inputs-control ">
                                <input placeholder=" " asp-for="ASP_UserName" class="input-outline w-100 inp " disabled type="text">
                                <label class="inputs-lable">UserName</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class=" mb-2">
                            <div class="inputs-control ">
                                <input placeholder=" " name="password" required class="input-outline w-100 inp " type="text">
                                <label class="inputs-lable">password</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class=" mb-2">
                            <div class="input-control w-100 mt-3">
                                <select class="input-outline input-outline-select inp asp  inp-dis" asp-for="ASP_Status" disabled required data-allow-clear="true" tabindex="-1" asp-items="@(new SelectList(enumData, "ID", "Name"))" data-control="select2" data-placeholder="Select Level">
                                    <option>Status</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class=" mb-2">
                            <div class="input-control w-100 mt-3">
                                <select class="input-outline input-outline-select inp  " asp-for="ASP_RoleID" required disabled data-allow-clear="true" tabindex="-1" onchange="myFunction_prof()" id="ProfessionType" asp-items="@(new SelectList(ViewBag.userrolecombobox,"RoleId","RoleName"))" data-control="select2" data-placeholder="Select Level">
                                    <option>Role</option>
                                </select>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="text-end">
                <button class="text-end btn btn-outline-info " type="submit">Reset Password</button>
            </div>
                </form>

                  
            <div class="mt-2">
                <h6> <b>Administration Information</b></h6>
            </div>
            <form  asp-action="SaveAdministrationinfo" asp-controller="MyProfile" method="post">
                <div class="row">

                    <div class="col-md-6 mt-2">
                        <div class=" mb-3">
                            <div class="inputs-control ">
                                <input placeholder=" " disab asp-for="User_FirtName" class="input-outline w-100 inp admin-input " type="text">
                                <label class="inputs-lable">FirstName</label>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class=" mb-3">
                            <div class="inputs-control ">
                                <input placeholder=" " asp-for="User_LastName" class="input-outline w-100 inp admin-input " type="text">
                                <label class="inputs-lable">LastName</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class=" mb-3">
                            <div class="inputs-control ">
                                <input placeholder=" " asp-for="User_Email" id="email" class="input-outline w-100 inp admin-input " type="text">
                                <label class="inputs-lable">Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class=" mb-3">
                            <div class="inputs-control ">
                                <input placeholder=" " asp-for="User_Email" id="confirmemail" class="input-outline w-100 inp  admin-input" type="text">
                                <label class="inputs-lable">ConfirmEmail</label>
                            </div>
                            <span id="confirm-check" class="err-msg"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class=" mb-3">
                            <div class="inputs-control w-100 ">
                                <input id="phone" asp-for="User_PhoneNumber" placeholder="Mobile" type="text" class=" telephone input-outline admin-input w-100 inp align-items-center " />
                                <span class="err-msg"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2 d-flex justify-content-around flex-wrap">

                        @foreach (var item in ViewBag.RegionComboBox)
                        {
                            <div class="form-check">
                                @{
                                    bool isChecked = Model.AdminReqionList != null && Model.AdminReqionList.Contains(item.RegionId);
                                    <input class="form-check-input" type="checkbox"
                                           value="@item.RegionId" id="checkbox_@item.RegionId"
                                           name="SelectedRegions" @(isChecked ? "checked" : "")>
                                    <label class="form-check-label" for="checkbox_@item.RegionId">
                                        @item.RegionName
                                    </label>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="text-end">
                    <a onclick="enable_disable_administration()" id="edit" class="btn  btn-outline-info btn-submit ">
                        Edit
                    </a>
                    <button type="submit" id="save" class="btn  btn-outline-info btn-submit mx-2 ">
                        save
                    </button>
                    <a id="cancel" class="btn  btn-outline-danger ">
                        cancel
                    </a>
                </div>
            </form>
         
           
                <script>
                  
                    function enable_disable_administration() {
                        $(".admin-input").prop("disabled", false);
                        $(".form-check-input").prop("disabled", false);
                        $("#save").prop("disabled", false);
                        $("#cancel").prop("disabled", false);
                        $("#save").css("display", "");
                        $("#cancel").css("display", "");
                        $("#edit").css("display", "none");
                    }

            </script>
              

            <div class="mt-2">
                <h6> <b>Mailing and billing Information</b></h6>
            </div>
            <form asp-action="EditBillingInfo" asp-controller="MyProfile" method="post">
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <div class=" mb-3">
                            <div class="inputs-control ">
                                <input placeholder=" " asp-for="Address1" class="input-outline w-100 inp mail-billing-imp " type="text">
                                <label class="inputs-lable">Address1</label>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class=" mb-3">
                            <div class="inputs-control  ">
                                <input placeholder=" " asp-for="Address2" class="input-outline w-100 inp  mail-billing-imp" type="text">
                                <label class="inputs-lable">Address2</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class=" mb-3">
                            <div class="inputs-control ">
                                <input placeholder=" " asp-for="City" class="input-outline w-100 inp  mail-billing-imp" type="text">
                                <label class="inputs-lable">City</label>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-md-6 mt-2">
                        <div class=" mb-3">
                            <div class="input-control w-100">
                                <select class="input-outline input-outline-select inp mail-billing-imp" required asp-for="RegionID" data-allow-clear="true" tabindex="-1" onchange="myFunction1()" id="region2" asp-items="@(new SelectList(ViewBag.RegionComboBox,"RegionId","RegionName"))" data-control="select2" data-placeholder="Select Level">
                                    <option value="">All Region</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class=" mb-3">
                            <div class="inputs-control ">
                                <input placeholder=" " asp-for="zip" class="input-outline w-100 inp  mail-billing-imp" type="text">
                                <label class="inputs-lable">Zip</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class=" mb-3">
                            <div class="inputs-control w-100 ">
                                <input id="phone2" asp-for="User_PhoneNumber" placeholder="Mobile" type="tel" class=" telephone input-outline mail-billing-imp w-100 inp align-items-center " />
                                <span class="err-msg"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-end">
                    <a onclick="enable_disable_mailBilling()" id="edit1" class="btn  btn-outline-info btn-submit ">
                        Edit
                    </a>
                    <button type="submit" id="save1" class="btn  btn-outline-info btn-submit mx-2 ">
                        save
                    </button>
                    <a asp-action="Index" asp-controller="Dashboard" id="cancel1" class="btn  btn-outline-danger ">
                        cancel
                    </a>
                </div>
            </form>
         

            <script>

                function enable_disable_mailBilling() {
                    $(".mail-billing-imp").prop("disabled", false);
                   
                    $("#save1").prop("disabled", false);
                    $("#cancel1").prop("disabled", false);
                    $("#save1").css("display", "");
                    $("#cancel1").css("display", "");
                    $("#edit1").css("display", "none");
                }

            </script>


           
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script>

    $(document).ready(function () {
        // Function to enable/disable save button based on email and confirm email match
        function toggleSaveButton() {
            var email = $("#email").val();
            var confirmEmail = $("#confirmemail").val();
            if (email === confirmEmail) {
                $("#save").prop("disabled", false);
                $('#confirm-check').html("");
            } else {
                $('#confirm-check').html("Email and Confirm Email should be same");
                $("#save").prop("disabled", true);
            }
        }

        // Call toggleSaveButton when confirm email field changes
        $("#confirmemail").on("input", toggleSaveButton);
    });


    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
    utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const phoneInputField2 = document.querySelector("#phone2");
    const phoneInput2 = window.intlTelInput(phoneInputField2, {
    utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>