@using HelloDocAdmin.Controllers.Authenticate
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HELLO_DOC</title>
    <link rel="stylesheet"  href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet"  href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet"  href="~/css/site.css" asp-append-version="true" />
 
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARrk6kY-nnnSpReeWotnQxCAo_MoI4qbU"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    body{
            font-family: 'Poppins', sans-serif;

    }
</style>
</head>
<body data-bs-theme="">
   
    <nav class="navbar navbar-expand-lg">
       
        <div class="container-fluid">
            <button class="btn navbar-toggler btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <img src="~/images/Fig56. Patient site 1.png" class="img-fluid rounded-start  navbar-logo" alt="...">
          
            <div class="text-end">
                @{
                    
                }
                <span class="username"> <b>Welcome!</b> @CV.LoggedUserName() </span>
                <a class="btn btn-sm btn-outline-info mx-2" asp-action="Logout" asp-controller="Login">
                    <span class="addnewlg">
                        Logout <i class="fa-solid fa-right-from-bracket"></i>
                    </span>
                    <span class="addnewsm">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </span>
                </a>
                <button class=" btn-outline-info btn btn-sm " onclick="mode()">
                    <span id="thm"> <i class="fa-solid fa-sun"></i></span>
                    <span id="thm2"> <i class="fa-solid fa-moon"></i></span>
                </button>
            </div>
         
        </div>
    </nav>

    <partial name="_SubNavAdminDashboard.cshtml" />


   
        <main role="main" class="pb-3" style="min-height:1000px">
            @RenderBody()
        </main>
    <div id="modal-placeholder"></div>
    
    <footer>
        <div class="d-flex justify-content-end mt-2 mb-2 ">
            <span class="d-flex ">
                <a href="#" class="px-2 footer-text-sr">Tearms and condition </a>
                <span class="footer-text-sr">|</span>
                <a href="#" class="px-2 footer-text-sr">privicy policy</a>
            </span>
        </div>
    </footer>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-ajax/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-validate/jquery.validate.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-validate/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/js/custom2/UI_Bootbox.js")"></script>
    <script src="@Url.Content("~/js/custom2/UI_ModalEvents.js")"></script>
    <script src="@Url.Content("~/js/custom2/UI_BlockUI.js")"></script>
    <script src="@Url.Content("~/js/custom2/InitMain.js")"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
