@{
    string path = Context.Request.Path;
}
@using HelloDocAdmin.Entity.ViewModels;
@using HelloDocAdmin.Controllers.Authenticate;
@using HelloDocAdmin.Repositories.Interface;
@using static HelloDocAdmin.Controllers.AdminSite.LoginController;
@inject ILoginRepository loginRepository

<style>
    .dropdown-item.active{
        background-color: #01BCE9;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body shadow  rounded">
    <div class="container-fluid  p-2">
        @if(CV.LoggedUserRole()=="Admin")
        {
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav nav-underline" id="nav-tab">
                    @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "Dashboard"))
                    {
                        <li class="nav-item">



                            <a class="nav-link   @(path.Equals("/Dashboard") || path.StartsWith("/Action")  ? "active" : "" )" asp-action="Index" asp-controller="Dashboard">
                                Dashboard
                            </a>


                        </li>
                    }
                    @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "ProviderLocation"))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(path.EndsWith("/ProviderLocation") ? "active" : "")" asp-action="Index" asp-controller="ProviderLocation">
                                Provider Location
                            </a>
                        </li>
                    }
                    @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "MyProfile"))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(path.EndsWith("/MyProfile") ? "active" : "")" asp-action="Index" asp-controller="MyProfile">
                                My Profile
                            </a>
                        </li>
                    }
                    @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "Physician"))
                    {
                        <li class="nav-item dropdown">
                           
                                <a class="nav-link  dropdown-toggle @(path.StartsWith("/Physician") ? "active" : "") " data-bs-toggle="dropdown" style="cursor:pointer" aria-expanded="false">Provider</a>

                            <ul class="dropdown-menu border-0">
                                @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "Physician"))
                                {
                                <li><a class="dropdown-item @(path.EndsWith("/Physician") ? "active" : "") " asp-action="Index" asp-controller="Physician"> Physician </a></li>


                                }
                                @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "Scheduling"))
                                {
                                    <li><a class="dropdown-item @(path.EndsWith("/Scheduling") || path.EndsWith("/ProviderOncall") || path.EndsWith("/RequestedShift") ? "active" : "") " asp-action="Scheduling" asp-controller="Physician">Scheduling</a></li>
                                }
                                @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "Invoicing"))
                                {
                                    <li><a class="dropdown-item " href="#">Invoicing</a></li>
                                }
                            </ul>
                        </li>
                    }
                    @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "Vendor"))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(path.StartsWith("/Vendor") ? "active" : "")" asp-action="Index" asp-controller="Vendor">
                                Partners
                            </a>
                        </li>
                    }
                    @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "Access"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle @(path.StartsWith("/Access") ? "active" : "")  " data-bs-toggle="dropdown" style="cursor:pointer" aria-expanded="false" asp-action="Index" asp-controller="Access">
                                Access
                            </a>
                            <ul class="dropdown-menu border-0">
                                @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "Access"))
                                {
                                <li><a class="dropdown-item @(path.EndsWith("/Access") ? "active" : "") " asp-action="Index" asp-controller="Access"> Access </a></li>
                                }
                                @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "UserAccess"))
                                {
                                    <li><a class="dropdown-item @(path.EndsWith("/UserAccess") ? "active" : "") " asp-action="UserAccess" asp-controller="Access">User Access</a></li>

                                }

                            </ul>
                        </li>
                    }
                    @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "SearchRecords"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle @(path.StartsWith("/Records") ? "active" : "")  " data-bs-toggle="dropdown" style="cursor:pointer" aria-expanded="false" asp-action="SearchRecord" asp-controller="Records">
                                Recoard
                            </a>

                            <ul class="dropdown-menu border-0">
                                @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "SearchRecords"))
                                {
                                    <li><a class="dropdown-item @(path.EndsWith("/SearchRecord") ? "active" : "") " asp-action="SearchRecord" asp-controller="Records"> Search Recoard </a></li>
                                }
                                @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "PatientRecord"))
                                {
                                    
                                <li><a class="dropdown-item @(path.EndsWith("/PatientRecord") ? "active" : "") " asp-action="PatientRecord" asp-controller="Records"> Patient Recoard </a></li>
                                }
                                @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "SMSLogs"))
                                {
                                    <li><a class="dropdown-item @(path.EndsWith("/SMSLogs") ? "active" : "") " asp-action="SMSLogs" asp-controller="Records"> SMS Logs </a></li>

                                }
                                @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "EmailLogs"))
                                {
                                    <li><a class="dropdown-item @(path.EndsWith("/EmailLogs") ? "active" : "") " asp-action="EmailLogs" asp-controller="Records"> Email Logs </a></li>

                                }
                                @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "SMSLogs"))
                                {
                                <li><a class="dropdown-item @(path.EndsWith("/BlockHistory") ? "active" : "") " asp-action="BlockHistory" asp-controller="Records"> Block History </a></li>
                                }
                            </ul>
                        </li>
                    }

                </ul>
            </div>
        }
        else
        {


               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav nav-underline" id="nav-tab">

                
                    <li class="nav-item">
                        <a class="nav-link   @(path.Equals("/Dashboard") || path.StartsWith("/Action")  ? "active" : "" )" asp-action="Index" asp-controller="Dashboard">
                            Dashboard
                        </a>
                    </li>
                    @if (loginRepository.isAccessGranted((int)CV.LoggedUserRoleID(), "Invoicing"))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(path.EndsWith("/MyProfile") ? "active" : "")" asp-action="Index" asp-controller="MyProfile">
                                Invoicing
                            </a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link @(path.StartsWith("/Vendor") ? "active" : "")" asp-action="Index" asp-controller="Vendor">
                            My Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(path.StartsWith("/Vendor") ? "active" : "")" asp-action="Index" asp-controller="Vendor">
                            My Scheduling
                        </a>
                    </li>


                </ul>
            </div>
        }

    </div>
   
</nav>