@{
    string path = Context.Request.Path;
}
<style>
    .dropdown-item.active{
        background-color: #01BCE9;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body shadow  rounded">
    <div class="container-fluid  p-2">
     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav nav-underline" id="nav-tab">
                <li class="nav-item">
                    <a class="nav-link   @(path.Equals("/Dashboard") || path.StartsWith("/Action")  ? "active" : "" )" asp-action="Index" asp-controller="Dashboard">
                        Dashboard
                    </a>
            </li >
                <li class="nav-item">
                    <a class="nav-link @(path.EndsWith("/ProviderLocation") ? "active" : "")" asp-action="Index" asp-controller="ProviderLocation">
                       Provider Location
                    </a>
           </li>
                <li class="nav-item">
                    <a class="nav-link @(path.EndsWith("/MyProfile") ? "active" : "")" asp-action="Index" asp-controller="MyProfile">
                       My Profile
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle @(path.StartsWith("/Physician") ? "active" : "") " data-bs-toggle="dropdown" style="cursor:pointer" aria-expanded="false">Provider</a>
                    <ul class="dropdown-menu border-0">
                        <li><a class="dropdown-item @(path.StartsWith("/Physician") ? "active" : "") " asp-action="Index" asp-controller="Physician"> Provider </a></li>
                        <li><a class="dropdown-item @(path.StartsWith("/Scheduling") ? "active" : "") " asp-action="Scheduling" asp-controller="Physician">Scheduling</a></li>
                        <li><a class="dropdown-item " href="#">Invoicing</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(path.StartsWith("/Vendor") ? "active" : "")" asp-action="Index" asp-controller="Vendor">
                        Partners
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle @(path.StartsWith("/Access") ? "active" : "")  " data-bs-toggle="dropdown" style="cursor:pointer" aria-expanded="false" asp-action="Index" asp-controller="Access">
                       Access
                    </a>
                    <ul class="dropdown-menu border-0">
                        <li><a class="dropdown-item @(path.EndsWith("/Access") ? "active" : "") " asp-action="Index" asp-controller="Access"> Role </a></li>
                        <li><a class="dropdown-item @(path.EndsWith("/UserAccess") ? "active" : "") " asp-action="UserAccess" asp-controller="Access">User Access</a></li>
                        <li><a class="dropdown-item " href="#">Invoicing</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle @(path.StartsWith("/Records") ? "active" : "")  " data-bs-toggle="dropdown" style="cursor:pointer" aria-expanded="false" asp-action="SearchRecord" asp-controller="Records">
                        Recoard
                    </a>
                    <ul class="dropdown-menu border-0">
                        <li><a class="dropdown-item @(path.EndsWith("/Records") ? "active" : "") " asp-action="SearchRecord" asp-controller="Records"> Search Recoard </a></li>
                        <li><a class="dropdown-item @(path.EndsWith("/Records") ? "active" : "") " asp-action="PatientRecord" asp-controller="Records"> Patient Recoard </a></li>

                        <li><a class="dropdown-item @(path.EndsWith("/UserAccess") ? "active" : "") " asp-action="UserAccess" asp-controller="Access">User Access</a></li>
                        <li><a class="dropdown-item " href="#">Invoicing</a></li>
                    </ul>
                </li>
         
        </ul>
        </div>
    </div>
   
</nav>